<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/clock.css" />
    </head>

    <body>
        <div class="clock">
            <div id="Date"></div>
            <ul>
                <li id="hours"></li>
                <li id="point">:</li>
                <li id="min"></li>
                <li id="point">:</li>
                <li id="sec"></li>
            </ul>
        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/js/clock.js"></script>
</html>