{% extends "base_template.html" %}

{% block content %}

<div class="alarms grid-box" id="alarms">
    Weckzeiten:
  <div class="alarm">
    <div id="alarmtime_1">06:00</div>
    <div id="status_1">aktiv</div>
  </div>
  <div class="alarm">
    <div id="alarmtime_2">05:00</div>
    <div id="status_2">inaktiv</div>
  </div>
  <div class="alarm">
    <div id="alarmtime_3">Alarm3</div>
    <div id="status_3">activated</div>
  </div>
  <div class="alarm">
    <div id="alarmtime_4">Alarm4</div>
    <div id="status_4">activated</div>
  </div>
</div>

{% endblock %}