{% extends "base_template.html" %}

{% block head_expansion %}
<link rel="stylesheet" href="../static/css/alarms.css" />
{% endblock %}

{% block content %}

<label class="header">Weckzeiten</label>

<label class="title_1">Alarm 1:</label>
<label class="time_1" onclick="set_alarmtime()">06:00</label>
<label class="type_1">wochentags</label>
<label class="switch x_1">
  <input type="checkbox" onclick="checkbox(this)"/>
  <span class="slider round"></span>
</label>

<label class="title_2">Alarm 2:</label>
<label class="time_2" onclick="set_alarmtime()">06:00</label>
<label class="type_2">wochentags</label>
<label class="switch x_2">
  <input type="checkbox" onclick="checkbox(this)"/>
  <span class="slider round"></span>
</label>

<label class="title_3">Alarm 3:</label>
<label class="time_3" onclick="set_alarmtime()">06:00</label>
<label class="type_3">wochenende</label>
<label class="switch x_3">
  <input type="checkbox" onclick="checkbox(this)"/>
  <span class="slider round"></span>
</label>

<label class="title_4">Alarm 4:</label>
<label class="time_4" onclick="set_alarmtime()">06:00</label>
<label class="type_4">wochenende</label>
<label class="switch x_4">
  <input type="checkbox" onclick="checkbox(this)"/>
  <span class="slider round"></span>
</label>

{% endblock %}