{% extends "base_template.html" %}

{% block head_expansion %}
<link rel="stylesheet" href="../static/css/alarms.css" />
{% endblock %}

{% block content %}

<div class="alarms grid-box" id="alarms">
    Weckzeiten:
  <div class="alarm">
    <div id="alarmtime_1">06:00</div>
    <label class="switch">
      <input type="checkbox" onclick="checkbox(this)"/>
      <span class="slider round"></span>
    </label>
  </div>

  <div class="alarm">
    <div id="alarmtime_2">05:00</div>
    <label class="switch">
        <input type="checkbox" onclick="checkbox(this)"/>
        <span class="slider round"></span>
      </label>
  </div>

  <div class="alarm">
    <div id="alarmtime_3">Alarm3</div>
    <label class="switch">
        <input type="checkbox" onclick="checkbox(this)"/>
        <span class="slider round"></span>
      </label>
  </div>

  <div class="alarm">
    <div id="alarmtime_4">Alarm4</div>
    <div class="switch">
        <input type="checkbox" onclick="checkbox(this)"/>
        <span class="slider round"></span>
    </div>
  </div>
</div>

{% endblock %}