<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="clocks webbased GUI" />
    <meta name="author" content="BitPhil" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/index.css" />
    {% block head_expansion %}{% endblock %}
  </head>

  <body>
      <main class="wrapper">
          
          {% block content %}{% endblock content %}
          
          <!-- NAV BAR -->
            <div class="home grid-box" id="home">
                <button style="width: 80px; height: 65px;">
                    <a href="home.html">
                        <span style="font-size: 4em; color: black;">
                            <i class="fas fa-home fa"></i>
                        </span>
                    </a>
                </button>
            </div>
        
            <div class="light_off grid-box">
                <button style="width: 80px; height: 65px;" id="light_off">
                    <span style="font-size: 4em; color: black;">
                        <i class="far fa-lightbulb fa" id="btn_color"></i>
                    </span>
                </button>
            </div>
        
            <div class="light_on grid-box">
                <button style="width: 80px; height: 65px;" id="light_on">
                    <span style="font-size: 4em; color: orange;">
                        <i class="far fa-lightbulb fa" id="btn_color"></i>
                    </span>
                </button>
            </div>
        
            <div class="settings grid-box" id="settings">
                <button style="width: 80px; height: 65px;">
                    <a href="settings.html">
                        <span style="font-size: 4em; color: black;">
                            <i class="fas fa-cogs fa"></i>
                        </span>
                    </a>
                </button>
            </div>
        </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="https://kit.fontawesome.com/a629caa499.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/js/base_template.js"></script>
    {% block script_expansion %}{% endblock %}
  </body>
</html>